<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="bg-bgcolor">

  <header class="py-4 lg:py-0 lg:border-b relative lg:fixed lg:top-0 lg:bg-bgcolor lg:w-full z-30">
    <div class="container sm:container md:container lg:container xl:container 2xl:container flex justify-between lg:justify-start items-center">
      <!--pc-->
      <h1 class="lg:w-1/3 lg:py-8" id="h1">
        <a href="index.html" class="text-hidden text-2xl md:text-3xl w-[85px] lg:w-[190px] h-5 lg:h-10 bg-[url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week8-202207/logo.svg)] h-10">ART NFT</a>
      </h1>
      <ul class="flex lg:hidden" id="m-search-list">
        <li class="mr-6"><a href="#" id="m-search">
          <span class="material-icons text-2xl md:text-3xl hover:text-orange duration-300">
          search
          </span></a></li>
        <li>
          <a href="#" id="m-menu">
            <span class="material-icons text-2xl md:text-3xl hover:text-orange duration-300">
              menu
            </span>
          </a>
          <a href="#" id="close" class="hidden">
            <span class="material-icons text-2xl md:text-3xl hover:text-orange duration-300">
              close
            </span>
          </a>
        </li>
      </ul>
      <!--手機搜尋-->
      <div class="hidden w-full py-2" id="search-nav">
        <a href="#" id="search-pre" class="text-2xl leading-none hover:text-orange duration-300">
          <span class="material-icons block">
            chevron_left
          </span>
        </a>
        <input class="h-6 py-0 bg-bgcolor grow border-0 focus:ring-0" type="text" placeholder="搜尋作品名稱、藝術家名稱">
        <a href="#" class="text-2xl leading-none hover:text-orange duration-300">
          <span class="material-icons block">
            search
          </span>
        </a>
      </div>
      <!--PC搜尋-->
      <div class="w-1/3 hidden lg:flex lg:items-center px-12 lg:py-10 border-x">
          <input class="h-6 py-0 bg-bgcolor mr-6 grow border-0 focus:ring-0" type="text" placeholder="搜尋作品名稱、藝術家名稱">
          <a href="#" class="text-2xl leading-none hover:text-orange duration-300">
            <span class="material-icons block">
              search
            </span>
          </a>
      </div>
      <!--PC menu-->
      <ul class="w-1/3 hidden lg:flex text-center">
        <li class="w-2/5"><a href="#" class="py-10 border-r border-black hover:text-orange duration-300">探索</a></li>
        <li class="w-2/5"><a href="#" class="py-10 border-r border-black hover:text-orange duration-300">市值</a></li>
        <li class="w-1/5"><a href="#" class="py-10 text-2xl leading-none hover:text-orange duration-300" id="wallet" data-modal-toggle="wallet-modal">
            <span class="material-icons block">
              wallet
            </span></a>
        </li>
      </ul>
    </div>
    <!--mobile menu-->
    <div id="m-menu-list" class="bg-white w-full absolute top-full border-t border-black hidden">
      <div class="container sm:container md:container lg:container xl:container 2xl:container">
        <ul class="pb-6 text-center">
          <li><a href="#" class="font-bold text-lg py-6 border-b border-black hover:text-orange duration-300">探索</a></li>
          <li><a href="#" class="font-bold text-lg py-6 hover:text-orange duration-300">市值</a></li>
          <li><a href="#"
              class="text-lg py-3 text-white bg-orange border border-black hover:text-black hover:translate-y-0.5 duration-300" id="m-wallet" data-modal-toggle="wallet-modal">連結錢包</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  
  <main class="lg:pt-[104px]">
    
    <section class="mt-6 lg:mt-10 mb-10 lg:mb-20">
      <div class="container sm:container md:container lg:container xl:container 2xl:container">
        <div class="lg:flex justify-between">
          <div class="w-full lg:w-[calc(75%-12px)] mb-4 lg:mb-0 lg:flex">
            <img class="lg:w-2/5 lg:h-[259px]" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-202207/artist01.jpg?raw=true" alt="Michael">
            <div class="lg:w-3/5 border border-black bg-white px-4 lg:px-6 py-6">
              <h2 class="flex justify-between items-center text-4xl lg:text-5xl">Michael
                <span class="flex items-center text-base gap-x-2">
                  <i class="fa-brands fa-discord"></i>
                  <i class="fa-brands fa-facebook-f"></i>
                  <i class="fa-solid fa-globe"></i>
                  <i class="fa-brands fa-twitter"></i>
                </span>
              </h2>
              <small class="mt-2 lg:mt-4">0x3ya666…88ef</small>
              <p class="mt-6">Michael自小在山林長大，能夠與花草樹木大自然進行靈體溝通，創作題材常見大山、大水、花草與樹木，從日常生活出發，擁有個⼈獨樹⼀格的創作風格，作品觸及靈魂深處、探索未知宇宙，透過與大自然的溝通，探討著存在的本質。​</p>
            </div>
          </div>
          <ul class="w-full lg:w-[calc(25%-12px)] border border-black bg-white leading-none">
            <li>
              <a href="#" class="px-6 py-4 border-b border-black hover:text-orange">
                <p class="font-bold flex justify-between items-center">販售中<span class="text-4xl">168</span></p>
              </a>
            </li>
            <li>
              <a href="#" class="px-6 py-4 border-b border-black hover:text-orange">
                <p class="font-bold flex justify-between items-center">地板價格<span class="text-4xl">0.6 ETH</span></p>
              </a>
            </li>
            <li>
              <a href="#" class="px-6 py-4 border-b border-black hover:text-orange">
                <p class="font-bold flex justify-between items-center">7 日成交<span class="text-4xl">8.8 ETH</span></p>
              </a>
            </li>
            <li>
              <a href="#" class="px-6 py-4 hover:text-orange">
                <p class="font-bold flex justify-between items-center">30 日成交<span class="text-4xl">23.1 ETH</span></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

  <%- contents %>
  </main>
  
  <footer class="border-t border-black pt-2">
    <p class="border-t-4 border-black py-6 text-center text-TC">© ART NFT. All Rights Reserved</p>
  </footer>
  
  <!--modal-->
  <div id="wallet-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full h-full inset-0 h-modal border-orange">
    <div class="relative w-full max-w-lg h-full lg:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white shadow h-full flex flex-col">
        <!--Modal header-->
        <div class=" px-2 lg:px-4 py-4 border-b boder-black">
          <h2 class="text-center text-xl relative">連結你的錢包</h2>
          <button type="button" id="wallet-close"
            class="absolute top-3 right-2.5 text-black hover:text-gray rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
            data-modal-toggle="wallet-modal">
            <span class="material-icons text-black hover:scale-105">
              close
            </span>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <ul class="grow lg:grow-0 bg-white py-6 px-3 lg:px-4 space-y-2 lg:space-y-0 lg:flex flex-wrap lg:gap-2">
          <li class="lg:w-[calc((100%-8px)/2)]">
            <a href="#" id="wallet-check-meta" class="flex items-center justify-between p-4 border hover:border-orange duration-300">
              <div class="flex items-center">
                <img class="w-8 h-8" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/logo/connect01.png" alt="MetaMask">
                <p class="ml-4 text-4">MetaMask</p>
              </div>
              <span class="material-icons text-white duration-300">
                done
              </span>
            </a>
          </li>
          <li class="lg:w-[calc((100%-8px)/2)]">
            <a href="#" id="wallet-check-coin" class="flex items-center justify-between p-4 border hover:border-orange duration-300">
              <div class="flex items-center">
                <img class="w-8 h-8"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/logo/connect02.png"
                  alt="Coinbase Wallet">
                <p class="ml-4 text-4">Coinbase Wallet</p>
              </div>
              <span class="material-icons text-white duration-300">
                done
              </span>
            </a>
          </li>
          <li class="lg:w-[calc((100%-8px)/2)]">
            <a href="#" id="wallet-check-connect" class="flex items-center justify-between p-4 border hover:border-orange duration-300">
              <div class="flex items-center">
                <img class="w-8 h-8"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/logo/connect03.png"
                  alt="WalletConnect">
                <p class="ml-4 text-4">WalletConnect</p>
              </div>
              <span class="material-icons text-white duration-300">
                done
              </span>
            </a>
          </li>
          <li class="lg:w-[calc((100%-8px)/2)]">
            <a href="#" id="wallet-check-phan" class="flex items-center justify-between p-4 border hover:border-orange duration-300">
              <div class="flex items-center">
                <img class="w-8 h-8"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/logo/connect04.png"
                  alt="Phantom">
                <p class="ml-4 text-4">Phantom</p>
              </div>
              <span class="material-icons text-white duration-300">
                done
              </span>
            </a>
          </li>
          <li class="lg:w-[calc((100%-8px)/2)]">
            <a href="#" id="wallet-check-glow" class="flex items-center justify-between p-4 border hover:border-orange duration-300">
              <div class="flex items-center">
                <img class="w-8 h-8"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/logo/connect05.png"
                  alt="Glow">
                <p class="ml-4 text-4">Glow</p>
              </div>
              <span class="material-icons text-white duration-300">
                done
              </span>
            </a>
          </li>
          <li class="lg:w-[calc((100%-8px)/2)]">
            <a href="#" id="wallet-check-fart" class="flex items-center justify-between p-4 border hover:border-orange duration-300">
              <div class="flex items-center">
                <img class="w-8 h-8"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/logo/connect06.png"
                  alt="Fortmatic">
                <p class="ml-4 text-4">Fortmatic</p>
              </div>
              <span class="material-icons text-white duration-300">
                done
              </span>
            </a>
          </li>
        </ul>
        <!-- Modal footer -->
        <div class="lg:mb-8">
          <a href="#" id="wallet-link"
            class="text-lg text-center py-3 text-white bg-orange border border-black lg:w-1/2 lg:mx-auto hover:text-black hover:scale-y-105 duration-300"
            data-modal-toggle="wallet-modal">連結錢包</a>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-bg" class="hidden bg-black bg-opacity-50 fixed inset-0 z-30"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
  <script src="https://kit.fontawesome.com/83939e0235.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>